@charset "utf-8";
/* Application styles could go here */

html body {
    font-family: "Noto Sans", "Noto Sans Ethiopic", "Noto Arabic", "Noto Sans Georgian", "Noto Sans Armenian", "Noto Sans Old South Arabian", "Noto Sans Coptic", sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-weight: bold; font-family: "Noto Sans", "Noto Sans Ethiopic", "Noto Arabic", "Noto Sans Georgian", "Noto Sans Armenian", "Noto Sans Old South Arabian", "Noto Sans Coptic", sans-serif;} 

h2 {font-size : 28px}
h3 {font-size : 25px}
h4 {font-size : 22px}
h5 {font-size : 20px}

#showcase, #lifespan {
	margin: 0 20px;
}
#slider, #LifeSlider {
	margin: 0 auto 30px;
}
#value-span, #dates-input,
#value-input {
	width: 50%;
	float: left;
	display: block;
	text-align: center;
	margin: 0;
}

footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

.row:nth-child(odd) 
  {
    background: #e0e0e0;
      
  }
  
 
  
span.hi { border: thin solid black; font-weight: bold;}
span.previous { font-style: italic; }
span.following { font-style: italic; }


.QuiresTable{
width:100%;height:200px;
overflow-x:scroll;
overflow-y:scroll;}
 
.quireTableHeaders { 
position: relative;
list-style-type: none;
font-weight: bold;
list-style:none;
padding-left:0;}
   
.QuiresTableHoriz
{
position:relative;
}
.quire
{
  
    vertical-align: top;
    height:100px;
}


.list-inline {
  white-space:nowrap;
}



.quireTableQuire{
    list-style-type: none;
    vertical-align: top;
    margin-top:0;
}
             
li> .quire {
height:20px;
overflow-x:scroll;
overflow-y:scroll;
}
   
   
   

#BetMasRelView {
       width: 100%;
      height: 1000px;
      border: 1px solid lightgray;}
      
      
      
                                
div > div[id*=ms].row {padding-left: 30px;}

div > div[id*=transcription].row {padding-left: 30px;}

div.subtextpart {padding-left: 30px;}

div.msPart div.msFrag  {padding-left: 50px;}


hr.msParts {border-top: dotted 1px;}
hr.colophon {border-top: dotted 2px;}

body {position:relative;}

sup{
    vertical-align: super;
    font-size: smaller;
}



span.rubric{color:red;}
span.undeciphrable{color:grey;}

table{
    border-collapse: separate;
    border-top: 3px
}
td{
    margin: 0;
    border: 3px;
    border-top-width: 0px;

}
div.report{
    background-color: red;
}



.bif{
    font-family: Arial, Helvetica, 
sans-serif;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    width: 430px;
    height: 
    295px;
    position: static;
    padding-top: 15px;
    background-color: #415a6c;
    border-top-left-radius: 20px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: #acacac;
    border-left-color: #acacac;
    float: left;
    margin-left: 15px;
}
.terms{
    font-family: Arial, 
Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    height: 295px;
    text-decoration: none;
    width: 800px;
    position: static;
    background-color: white;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #acacac;
    float: left;
    margin-left: 5px;
    text-align: left;
    vertical-align: bottom;
    padding-top: 15px;
    padding-left: 10px;
    overflow: 
    auto;
}
.img1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    height: 295px;
    text-decoration: none;
    width: 400px;
    position: static;
    background-color: 
    #415a6c;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: 
    #acacac;
    float: left;
    margin-left: 5px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 15px;
    padding-left: 10px;
}
.img2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    height: 295px;
    text-decoration: none;
    width: 400px;
    position: 
    static;
    background-color: #415a6c;
    border-top-right-radius: 20px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #acacac;
    float: left;
    text-align: center;
    vertical-align: bottom;
    padding-right: 10px;
    padding-top: 15px;
}
#imgleft{
    font-family: 
    Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    height: 295px;
    text-decoration: 
    none;
    width: 430px;
    position: static;
    background-color: #415a6c;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #acacac;
    float: left;
    margin-left: 5px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 15px;
    padding-left: 10px;
}
#imgright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    height: 295px;
    text-decoration: none;
    width: 430px;
    position: static;
    background-color: 
    #415a6c;
    border-top-right-radius: 20px;
    border-bottom-width: 4px;
    border-bottom-style: 
    solid;
    border-bottom-color: #acacac;
    float: left;
    text-align: center;
    vertical-align: 
    bottom;
    padding-right: 10px;
    padding-top: 15px;
    margin-left: 5px;
}
.openimage{
    margin-bottom: -3px;
}
.closeimage{
    margin-left: -11px;
    margin-bottom: 7px;
}
.spacer{
    font-size: 12px;
    margin-right: 90px;
    margin-left: 80px;
}
.bititles{
    height: 25px;
    overflow: visible;
    visibility: visible;
    padding-left: 35px;
}
.labels{
    font-size: 4px;
    fill: #FFF;
}
#listofquires{
    overflow: visible;
    visibility: visible;
    z-index: 5;
    background-color: #e5e5e5;
    height: 25px;
    width: 100%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-left: -15px;
    color: #333;
    font-family: 
    Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
}
#quirelist{
    font-family: Verdana, 
Geneva, sans-serif;
    color: #FFF;
    background-color: #415a6c;
}
.mstitle{
    font-family: 
    Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-variant: normal;
    color: 
    #333;
    letter-spacing: 0.06em;
}
.mstitle a:link,
a:visited{
    text-decoration: none;
    color: 
    #333;
}
#divtop{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-variant: small-caps;
    color: #FFF;
    background-color: #600;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-left: -15px;
    height: 
    32px;
}
#divtop .topheader a:link,
#divtop .topheader a:visited{
    font-family: Georgia, 
"Times New Roman", Times, serif;
    font-size: 18px;
    font-variant: small-caps;
    color: #FFF;
    text-decoration: none;
    letter-spacing: .05em;
}
.left{
    float: left;
}
.right{
    float: right;
}
.fixed{
    position: fixed;
}
.embedQuire{
    height: 300px;
    width: 400px;
}
.embedHTML{
    height: 400px;
    width: 505px;
}
.bifolList{
    height: 300px;
}
.bifolPage{
    height: 600px;
}
.xList{
    width: 240px;
}
.xPage{
    width: 480px;
}
.leaf{
    stroke: #999;
    stroke-width: 1pt;
    fill: none;
}
.thisleaf{
    stroke: white;
    stroke-width: 1pt;
    fill: none;
}
.ghostLeaf{
    stroke: #415a6c;
    stroke-width: 1pt;
    fill: none;
    fill-opacity: 1;
}
.replaced{
    stroke-dasharray: 4, 1, 1, 1;
    border-style: dotted;
    border-color: #ffffff;
}
.added{
    stroke-dasharray: 4, 1;
    border-style: dashed;
    border-color: #ffffff;
}
.missing{
    stroke-dasharray: 1, 5;
}
.empty{
    stroke: #415a6c;
    stroke-width: 1.2pt;
    fill: none;
    fill-opacity: 1;
}
.nums{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5px;
    fill: 
    #ffffff;
    stroke: #none;
}
.bititle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 
    4px;
    fill: #fff;
}
.bititles a:link,
.bititles a:visited{
    font-family: Verdana, Geneva, 
sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
    color: #000;
}
.quireset{
    display: none;
}
.newquire{
    margin-top: 10px;
    clear: both;
}
.btn1,
.btn2,
.totop a:link,
.totop a:visited{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 
    14px;
    color: #333;
    padding: 3px;
    border-radius: 5px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #666;
    border-right-color: #666;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    cursor: pointer;
    text-decoration: none;
    background-color: #e1d9d9;
}
.helptext{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #333;
}

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/* Toggle Styles */

#wrapperone {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#wrapperone.toggledone {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #b3ecff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapperone.toggledone #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapperone.toggledone #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}


.summary { list-style: none;}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}



@media(min-width:768px) {
    #wrapperone {
        padding-right: 250px;
    }

    #wrapperone.toggledone {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapperone.toggledone #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapperone.toggledone #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
